
@{
    ViewBag.Title = "Descargas";
    ViewBag.Description = "Descargue aquí las ponencias disponibles. Luego de terminar la conferencia esta página se mantendra en actualización para subir ponencias pendientes en Español.";
}

@section styles {
    <style>
        p {
            margin: 0 0 2em 0;
            text-align: justify;
            text-justify: inter-word;
        }
    </style>
}

<!-- Main -->
<article id="main">
    <header>
        <h2>Descargas</h2>
        <p style="text-align:center;">Descargue aquí las ponencias disponibles. Luego de terminar la conferencia esta página se mantendra en actualización para subir ponencias pendientes en Español.</p>
    </header>
    <section class="wrapper style5">
        <div class="inner">

            <section>
                <h4>Descargue aquí</h4>
                <!--<a href="~/documents/2.MarianCorkill_ScientificFactsBOM.pdf" target="_blank">Marian Corkill: Scientific Facts of the Billings Ovulation Method (Inglés)</a>
                <hr />
                <a href="~/documents/5.ImportanciaFormacionInstructor_Gladys.pdf" target="_blank">Gladys Girón: Influencia de la formación del instructor en la enseñanza del Método de Ovulación Billings® (Español)</a>
                <hr />
                <a href="~/documents/6.a.MonsLibardo_Aplicando_Amoris_Laetitia.pdf" target="_blank">Monseñor Libardo: Aplicando Amoris Laetitia (Español)</a>
                <hr />
                <a href="~/documents/6.b.ConsideracionesEticasMOB_MariaPiedad.pdf" target="_blank">María Piedad Puerta: Consideraciones Éticas en la enseñanza del Método de Ovulación Billings® (Español)</a>
                <hr />
                <a href="~/documents/6.c.JustHowJustAReson_FrDismas.pdf" target="_blank">Fray Dismas Kline: Just How Just A Reason (Inglés)</a>
                <hr />
                <a href="~/documents/7.a.GrettelMendoza-BOM in Health System.pdf" target="_blank">Grettel Mendoza: Billings Ovulation Method® in the Costa Rican Health System (Inglés)</a>
                <hr />
                <a href="~/documents/7.b.GrettelMendoza-MOB_en_sistema_de_salud.pdf" target="_blank">Grettel Mendoza: El Método de Ovulación Billings® en el sistema de salud costarricense (Inglés)</a>
                <hr />
                <a href="~/documents/8.StepCordero_NutricionYFertilidad.pdf" target="_blank">Dra. Stephanie Cordero: Nutrición y Fertilidad (Español)</a>
                <hr />
                <a href="~/documents/9.SilviaEtch_EnsenanzaMOBNoVidentes.pdf" target="_blank">Silvia Etchegoyen: Enseñanza del Método de Ovulación Billings® (Español)</a>
                <hr />-->

            </section>

        </div>
    </section>
</article>
@section scripts {
    <script src="~/Content/secondaryjs.js"></script>
}