
@{
    ViewBag.Title = "Downloads";
    ViewBag.Description = "Descargue aquí las ponencias disponibles. Luego de terminar la conferencia esta página se mantendra en actualización para subir ponencias pendientes en Español.";
}

@section styles {
    <style>
        p {
            margin: 0 0 2em 0;
            text-align: justify;
            text-justify: inter-word;
        }
    </style>
}

<!-- Main -->
<article id="main">
    <header>
        <h2>Downloads</h2>
        <p style="text-align:center;">Get here the available presentations, keep checking for more.</p>
    </header>
    <section class="wrapper style5">
        <div class="inner">

            <section>
                <h4>Download here</h4>
                <a href="~/documents/1.a BioethicConsiderations_MartinTantalean.pdf" target="_blank">Martin Tantaleán: Bioethical considerations of natural family planning. (English)</a>
                <hr />
                <a href="~/documents/1.b ConsideracionesBioeticas_MartinTantalean.pdf" target="_blank">Martin Tantaleán: Consideraciones bioéticas de la planificacion familiar natural (Spanish)</a>
                <hr />
                <!--<a href="~/documents/2.MarianCorkill_ScientificFactsBOM.pdf" target="_blank">Marian Corkill: Scientific Facts of the Billings Ovulation Method (English)</a>
                <hr />
                <a href="~/documents/3.a MOB_en_parejas_subfertilidad-Stecher.pdf" target="_blank">Francisco Stecher: La aplicación del Método de Ovulación Billings® en parejas con sub-fertilidad</a>
                <hr />
                <a href="~/documents/5.ImportanciaFormacionInstructor_Gladys.pdf" target="_blank">Gladys Girón: Influencia de la formación del instructor en la enseñanza del Método de Ovulación Billings® (Spanish)</a>
                <hr />
                <a href="~/documents/6.a.MonsLibardo_Aplicando_Amoris_Laetitia.pdf" target="_blank">Monseñor Libardo: Aplicando Amoris Laetitia (Spanish)</a>
                <hr />
                <a href="~/documents/6.b.ConsideracionesEticasMOB_MariaPiedad.pdf" target="_blank">María Piedad Puerta: Consideraciones Éticas en la enseñanza del Método de Ovulación Billings® (Spanish)</a>
                <hr />
                <a href="~/documents/6.c.JustHowJustAReson_FrDismas.pdf" target="_blank">Fray Dismas Kline: Just How Just A Reason (English)</a>
                <hr />
                <a href="~/documents/7.a.GrettelMendoza-BOM in Health System.pdf" target="_blank">Grettel Mendoza: Billings Ovulation Method® in the Costa Rican Health System (English)</a>
                <hr />
                <a href="~/documents/7.b.GrettelMendoza-MOB_en_sistema_de_salud.pdf" target="_blank">Grettel Mendoza: El Método de Ovulación Billings® en el sistema de salud costarricense (English)</a>
                <hr />
                <a href="~/documents/8.StepCordero_NutricionYFertilidad.pdf" target="_blank">Dra. Stephanie Cordero: Nutrición y Fertilidad (Spanish)</a>
                <hr />
                <a href="~/documents/9.SilviaEtch_EnsenanzaMOBNoVidentes.pdf" target="_blank">Silvia Etchegoyen: Enseñanza del Método de Ovulación Billings® (Spanish)</a>
                <hr />-->

            </section>

        </div>
    </section>
</article>
@section scripts {
    <script src="~/Content/secondaryjs.js"></script>
}