
@{
    ViewBag.Title = "Gallery";
    ViewBag.Description = "Picture Gallery of the WOOMB International Conference.";
}

@section styles {
    <style>
        p {
            margin: 0 0 2em 0;
            text-align: justify;
            text-justify: inter-word;
        }
    </style>
}

<!-- Main -->
<article id="main">
    <header>
        <h2>Picture Gallery</h2>
        <p style="text-align:center;">Watch the pictures of the WOOMB International Conference, San José, Costa Rica, 2018.</p>
    </header>
    <section class="wrapper style5">
        <div class="inner">

            <section>
                <iframe width="850" height="478" src="https://myalbum.com/embed/yqeO9LK9Tmhy" frameborder="0" allowfullscreen></iframe>
            </section>

        </div>
    </section>
</article>
@section scripts {
    <script src="~/Content/secondaryjs.js"></script>
}