
@{
    ViewBag.Title = "Programa Conferencia";
    ViewBag.Description = "Ponencias de la Conferencia WOOMB. Hechos Científicos del Método de Ovulación Billings. Enseñanza a personas no videntes. 50 años Humanae Vitae. Aplicación del Método Billings en parejas con sub-fertilidad. Papel de la formación del instructor en efectivad. El Método Billings en el Sistema de Salud Costarricense.";
}

<!-- Main -->
<a href="#top"></a>
<article id="main">
    <header>
        <h2>Programa de Conferencia</h2>
        <!--<p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>-->
    </header>
    <a name="startofday"></a>
    <section class="wrapper style5">
        <div class="inner">


            <ul class="actions">
                <li><a href="#startofday" id="viernes" class="button">27 Abril</a></li>
                <li><a href="#startofday" id="sabado" class="button">28 Abril</a></li>
                <li><a href="#startofday" id="domingo" class="button">29 Abril</a></li>
                <li><a href="#startofday" id="lunes" class="button">30 Abril</a></li>
                <li><a href="#startofday" id="martes" class="button">1<sup>ro</sup> Mayo</a></li>
                <li><a href="#startofday" id="miercoles" class="button">2 Mayo</a></li>
            </ul>

            <div id="tab-1" class="tab-content">
                <h6>8:00 - 9:00</h6>
                <p>Recepci&oacute;n de Invitados</p>
                <hr />
                <h6>9:00 - 9:30</h6>
                <p>Bienvenida, apertura y acto cultural</p>
                <hr />
                <h6>9:30 - 10:30</h6>
                <p>Consideraciones bio&eacute;ticas de la planificaci&oacute;n familiar natural-Conmemoración Dr. John Billings. Dr. Mart&iacute;n Tantale&aacute;n (Per&uacute;).</p>
                <hr />
                <h6>10:30 - 11:00</h6>
                <p>Refrigerio</p>
                <hr />
                <h6>11:00 - 12:00</h6>
                <p>Hechos cient&iacute;ficos del M&eacute;todo de Ovulaci&oacute;n Billings&reg;. Sra. Marian Corkill (Australia).</p>
                <hr />
                <h6>12:00 - 13:30</h6>
                <p>Almuerzo</p>
                <hr />
                <h6>13:30 - 13:45</h6>
                <p>Acto Cultural</p>
                <hr />
                <h6>13:45 - 14:45</h6>
                <p> La aplicaci&oacute;n del M&eacute;todo de Ovulaci&oacute;n Billings&reg; en parejas con sub-fertilidad. Dr. Francisco Stecher (Chile).</p>
                <hr />
                <h6>14:45 - 15:15</h6>
                <p>Refrigerio</p>
                <hr />
                <h6>15:15 - 16:15</h6>
                <p>Visita Stands y Reuni&oacute;n de afiliados con directoras</p>
                <hr />
                <h6>16:15 - 17:15</h6>
                <p>Influencia de la formaci&oacute;n del instructor en la ense&ntilde;anza del M&eacute;todo de Ovulaci&oacute;n Billings&reg;. M&aacute;ster Gladys Gir&oacute;n (Colombia)</p>
                <hr />
                <h6>17:15 - 18:15</h6>
                <p>Mesa Redonda.<br />Consideraciones &eacute;ticas del M&eacute;todo de Ovulaci&oacute;n Billings&reg; a la luz de la enc&iacute;clica Humanae Vitae.<br />Mons. Libardo, M&aacute;ster Mar&iacute;a Piedad Puerta (Colombia), Fr. Dimas Kline (Nicaragua).</p>
                <hr />
                <h6>18:15 - 19:00</h6>
                <p>M&eacute;todo de Ovulaci&oacute;n Billings&reg; en el sistema de salud costarricense. MSc. Grettel Mendoza (Costa Rica).</p>
                <hr />
                <h6>19:00</h6>
                <p>Cierre y cena</p>
                <hr />
                <!--<h6>20:30</h6>
                <p>Reuni&oacute;n de WOOMB Latinoam&eacute;rica. (Centro Pastoral).</p>
                <hr />-->
                <a href="#top">Ir arriba</a>
            </div>
            <div id="tab-2" class="tab-content">
                <!--<h6>7:30 - 8:00</h6>
                <p>Misa (Centro de entrenamientos)</p>
                <hr -->
                <h6>9:00 - 10:15</h6>
                <p>Factores nutricionales y fertilidad. Dra. Stephanie Cordero (Costa Rica).</p>
                <hr />
                <h6>10:15 - 11:00</h6>
                <p>Refrigerio</p>
                <hr />
                <h6>11:00 - 11:45</h6>
                <p>Ense&ntilde;anza del M&eacute;todo de Ovulaci&oacute;n Billings&reg; a personas no videntes. Sra. Silvia Etchegoyen/Srta. Samanta Osterloh (Argentina).</p>
                <hr />
                <h6>11:45 - 13:00</h6>
                <p>Almuerzo</p>
                <hr />
                <h6>13:00 - 13:15</h6>
                <p>Acto Cultural</p>
                <hr />
                <h6>13:15 - 14:30</h6>
                <p>Tratamiento del S&iacute;ndrome de Ovario Poliqu&iacute;stico. Dra. Pilar Vigil. (Chile)</p>
                <hr />
                <h6>14:30 - 15:00</h6>
                <p>Refrigerio</p>
                <hr />
                <h6>15:00 - 16:15</h6>
                <p>Reportes de Afiliados</p>
                <hr />
                <h6>16:15 - 16:45</h6>
                <p>Acto Cultural</p>
                <hr />
                <h6>16:45 - 17:30</h6>
                <p>Reportes de Afiliados</p>
                <hr />
                <h6>17:30 - 17:50</h6>
                <p>Palabras de Cierre de Conferencia y Agradecimientos</p>
                <hr />
                <h6>20:30</h6>
                <p>Cena de Gala. Club Los Jaules en Coronado. <strong>habr&aacute; sorpresa</strong>.</p>
                <hr />
                <a href="#top">Ir arriba</a>
            </div>
            <div id="tab-3" class="tab-content">
                <h6>7:15 - 08:00</h6>
                <p>Desayuno</p>
                <hr />
                <h6>8:00 - 14:00</h6>
                <p>Tour Opcional</p>
                <hr />
                <h6>14:00 - 15:30</h6>
                <p>Almuerzo</p>
                <hr />
                <h6>15:30 - 17:00</h6>
                <p>Sesi&oacute;n de entrenamiento</p>
                <hr />
                <h6>17:00 - 18:00</h6>
                <p>Misa</p>
                <hr />
                <h6>18:00 - 19:00</h6>
                <p>Cena</p>
                <hr />
                <h6>19:00 - 20:30</h6>
                <p>Sesi&oacute;n de entrenamiento</p>
                <hr />
                <a href="#top">Ir arriba</a>
            </div>
            <div id="tab-4" class="tab-content">
                <h6>7:30 - 8:30</h6>
                <p>Desayuno</p>
                <hr />
                <h6>8:30 - 10:30</h6>
                <p>Sesi&oacute;n de entrenamiento</p>
                <hr />
                <h6>10:30 - 11:00</h6>
                <p>Refrigerio</p>
                <hr />
                <h6>11:00 - 13:00</h6>
                <p>Sesi&oacute;n de entrenamiento</p>
                <hr />
                <h6>13:00 - 14:00</h6>
                <p>Almuerzo</p>
                <hr />
                <h6>14:00 - 16:00</h6>
                <p>Sesi&oacute;n de entrenamiento</p>
                <hr />
                <h6>16:00 - 16:30</h6>
                <p>Refrigerio</p>
                <hr />
                <h6>16:30 - 18:00</h6>
                <p>Sesi&oacute;n de entrenamiento</p>
                <hr />
                <h6>18:00 - 19:00</h6>
                <p>Cena</p>
                <hr />
                <a href="#top">Ir arriba</a>
            </div>
            <div id="tab-5" class="tab-content">
                <h6>7:30 - 8:30</h6>
                <p>Desayuno</p>
                <hr />
                <h6>8:30 - 10:30</h6>
                <p>Sesi&oacute;n de entrenamiento</p>
                <hr />
                <h6>10:30 - 11:00</h6>
                <p>Refrigerio</p>
                <hr />
                <h6>11:00 - 13:00</h6>
                <p>Sesi&oacute;n de entrenamiento</p>
                <hr />
                <h6>13:00 - 14:00</h6>
                <p>Almuerzo</p>
                <hr />
                <h6>14:00 - 16:00</h6>
                <p>Sesi&oacute;n de entrenamiento</p>
                <hr />
                <h6>16:00 - 16:30</h6>
                <p>Refrigerio</p>
                <hr />
                <h6>16:30 - 18:00</h6>
                <p>Sesi&oacute;n de entrenamiento</p>
                <hr />
                <h6>18:00 - 19:00</h6>
                <p>Cena</p>
                <hr />
                <a href="#top">Ir arriba</a>
            </div>
            <div id="tab-6" class="tab-content">
                <h6>7:30 - 8:30</h6>
                <p>Desayuno</p>
                <hr />
                <h6>8:30 - 10:00</h6>
                <p>Sesi&oacute;n de entrenamiento</p>
                <hr />
                <h6>10:00 - 10:30</h6>
                <p>Refrigerio</p>
                <hr />
                <h6>10:30 - 12:00</h6>
                <p>Sesi&oacute;n de entrenamiento y Cierre</p>
                <hr />
                <a href="#top">Ir arriba</a>
            </div>
        </div>
    </section>
</article>

@section scripts {
    <script src="~/Content/program.js"></script>
}

