@model WC18.Models.Registration
@{
    ViewBag.Title = "RegistrationConfirm";
    ViewBag.Description = "Billings Ovulation Method Conference, Registration Confirmation.";

}

<h2>Bienvenido - Pagina en construcción </h2>

<h3>@Model.IdType</h3>
<h3>@Model.IdNumber</h3>


