
@{
    ViewBag.Title = "Speakers";
    ViewBag.Description = "WOOMB International Conference. Costa Rica, 2018. Marian Corkill, Dr. Juan Francisco Stecher, Silvia Etchegoyen, Samantha Osterloh, Gladys Girón, María Piedad Puerta de Klinkert, Fray Dimas María Kline, Monsignor Libardo Ramírez Gómez, Grettel Mendoza Rivera, Dr. Stephanie Cordero, Dr. Martín Tantaleán, Dr. Pilar Vigil. Kerry Bourke, Marie Marshell, Gillian Barker. ";
}

@section styles {
    <link href="~/Content/speakers.css" rel="stylesheet" />
}

<!-- Main -->
<article id="main">
    <header>
        <h2>Speakers</h2>
        <p style="text-align:center;">We will have reknowned international speakers</p>
    </header>
    <section class="wrapper style5">
        <div class="inner">

            <section>
                <div class="row">
                        <div class="12u 12u$(medium)">
                            <header>
                                <span class="image right"><img src="~/images/mariancorkill_200.jpg" alt="Marian Corkill" style="border-radius: 50px;height:160px;width:160px;"></span>
                                <h4>Marian Corkill</h4>
                                <p>
                                    Senior Teacher of the Billings Ovulation Method&reg;<br />
                                    <strong>Director of WOOMB International, Australia</strong>
                                </p>
                            </header>
                            <ul class="icons">
                                <li><a href="http://www.woombinternational.org/index.php/about-us/directors-of-woomb-international" class="icon fa-link" target="_blank"><span class="label">P&aacute;gina Web</span></a></li>
                            </ul>
                            <p>
                                Marian Corkill  was in the first group of teachers in Melbourne when the Drs Billings decided to spread the Method by women to women.
                                She is passionate about ensuring that all Billings Ovulation Method&reg; teachers have the ability to expand their knowledge and skills to ensure that the authentic Billings Ovulation Method&reg; is offered to all.<br /><br />
                                She has been involved in the development of the curricula for the WOOMB Approved Basic, Extension and Correspondence Courses for the training of teachers. She understands the importance of quality visual aids and works to ensure the availability of PowerPoint presentations suitable for teachers and medical professionals.<br /><br />
                                She was the original lead person for OMR&RCA in having Billings Ovulation Method&reg; training courses and seminars approved for quality points with the Royal Australian College of General Practitioners. Marian is currently the Chair of the WOOMB Board of Directors.
                            </p>

                            <a class="button small fit">Scientific facts of the Billings Ovulation Method&reg;</a>
                            <p>
                                First presentation of the conference and teacher trainings
                            </p>
                            <ul>
                                <li>Friday, Abril 27<sup>th</sup>, 2018. 9:30</li>
                                <li>Conference Center</li>
                            </ul>
                            <hr />
                        </div>
                        <div class="12u 12u$(medium)">
                            <header>
                                <span class="image right"><img src="~/images/DR-STECHER.jpg" alt="Dr. Stecher" style="border-radius: 50px;height:160px;width:160px;"></span>
                                <h4>Dr. Juan Francisco Stecher</h4>
                                <p>
                                    Physician, Surgeon, graduate in medicine from Universidad Católica de la Santísima Concepción, Concepción, Chile.<br />
                                    Master's degree in Guidance and Family Mediation from Universidad Pontificia de Salamanca, Salamanca, Spain.<br />
                                    Postgraduate in OB-GYN, Pontificia Universidad Católica de Chile, Santiago, Chile.<br />
                                    <strong>Director of Medicine Career, Faculty of Medicine</strong>
                                </p>
                            </header>
                            <ul class="icons">
                                <li><a href="https://www.facebook.com/jfstecher" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="http://medicina.ucsc.cl/persona/juan-francisco-stecher/" target="_blank" class="icon fa-link"><span class="label">Web Page</span></a></li>
                            </ul>
                            <p>
                                Assistant Professor Faculty of medicine, Universidad Católica de la Santísima Concepción, Concepción, Chile. Coordinator for The Polyclinic of 'John and Evelyn Billings' family planning.
                                Coordinador del Policl&iacute;nico de Planificaci&oacute;n Familiar "John y Evelyn Billings".<br /><br />
                                Director of the master’s program for Family Sciences with a major in Guidance and Family Mediation of the Institute Superior of Sciences for the family.
                                Instituto de Teología, Universidad Católica de la Santísima Concepción, Concepción, Chile.<br /><br />
                                Director for the center of Integral attention to the family of the Institute Superior of Sciences of family, Institute of theology, Universidad Católica de la Santsíma Concepción, Concepcion, Chile.
                                Academic Secretary of the Faculty of Medicine, of the Faculty of medicine, Universidad Católica de la Santsíma Concepción, Concepcion, Chile.<br /><br />
                                Coordinator for the Teacher Training Program of The Billings Ovulation Method&reg; of the Medical Faculty of Medicine of Universidad Católica de la Santísima Concepción, Concepcion, Chile.
                            </p>
                            <a class="button small fit">Applying the Billings Ovulation Method&reg; to couples with sub-fertility</a>
                            <p>
                                Presents
                            </p>
                            <ul>
                                <li>Friday, April 27, 2018. 13:45</li>
                                <li>Conference Center</li>
                            </ul>
                            <hr />
                        </div>
                        <div class="12u 12u$(medium)">
                            <header>
                                <span class="image right"><img src="~/images/Silvia-Etchegoyen.jpg" alt="Silvia Etchegoyen" style="border-radius: 50px;height:160px;width:160px;"></span>
                                <h4>Silvia Etchegoyen</h4>
                                <p>
                                    Degree in administration from the National University of La Plata<br />
                                    <strong>Family counselor, Universidad Austral </strong>
                                </p>
                            </header>
                            <ul class="icons">
                                <li><a href="https://www.facebook.com/silvia.etchegoyen.5" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            </ul>
                            <p>
                                Instructor of the Billings Ovulation Method&reg; since 1985, trained by Dr. Zubizarreta.
                                Promoter of the Billings Ovulation Method&reg; through courses and conferences offered in different areas: educational, medical, religious and Universities.<br /><br />
                                Organizing member and participant of the training carried out by WOOMB International in Argentina in 2006, 2007 and 2014.
                                In 2014, seminar studies of the Billings Ovulation Method Billings&reg;, Dr. Lek Lim Chan.<br /><br />
                                In 2007she was part of the team that developed the experience of the teaching of the Billings Ovulation Method&reg; to blind women at the Catholic University of La Plata.
                                Since 2012, she is part of the teaching team of the Billings Ovulation Method&reg; in CONIN (child nutrition cooperative) giving courses for the training of transmitters of the BOM, developing a special methodology to instruct women in situations of high social vulnerability.<br /><br />
                                Founding member of WOOMB Latinoamerica.
                            </p>
                            <header>
                                <span class="image right"><img src="~/images/Samanta-Osterloh.jpg" alt="Samanta Osterloh" style="border-radius: 50px;height:160px;width:160px;"></span>
                                <h4>Samantha Osterloh Smith</h4>
                                <p>
                                    Lawyer, University Professor, graduated from UCALP.<br />
                                    <strong>Postgraduate course in family law, notary public.</strong>
                                </p>
                            </header>
                            <!--
                            <ul class="icons">
                                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                            </ul>
                            -->

                            <p>
                                Samantha speaks Spanish, Portuguese, Italian and English.<br /><br />
                                Billings Ovulation Method&reg; instructor since 2007. She developed material for blind users.<br /><br />
                                Participated in the 1st Latin America Conference for the Billings Ovulation Method&reg;, Chile 2011.
                            </p>

                            <a class="button small fit">Teaching the Billings Ovulation Method&reg; to people with impaired vision</a>
                            <p>
                                Presents
                            </p>
                            <ul>
                                <li>Friday, April 27th, 2018. 11:15</li>
                                <li>Conference center</li>
                            </ul>
                            <hr />
                        </div>
                        <div class="12u 12u$(medium)">
                            <header>
                                <span class="image right"><img src="~/images/gladysgiron.jpg" alt="" style="border-radius: 50px;height:160px;width:160px;"></span>
                                <h4>M&aacute;ster Gladys Gir&oacute;n</h4>
                                <p>
                                    Master of Science for Marriage and Family in the John Paul II Institute of the Pontifical Lateran University in Rome.<br />
                                    Magister in Bioethics and training at the Catholic University Sacro Cuore and the John Paul II Institute in Rome.<br />
                                    Degree in Communication Sciences and Tourism, specializing in Film Production, Radio and TV.<br />
                                    <br />
                                    <strong>Research Professor at the Institute for Marriage and Family of the Universidad Pontificia Bolivariana (UPB) in Medellin, Colombia</strong>
                                </p>
                            </header>
                            <!--<ul class="icons">
                                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                            </ul>-->
                            <p>
                                Fourteen years of experience teaching on cross-cutting themes and importance such as: family, bioethics, and ethics in different professional areas.<br /><br />
                                Responsible for the education and training for conjugal and family life in which the fertility methods of regulation are being developed, specializing in the Billings Ovulation Method&reg;. She is a Billings Ovulation instructor, and is the International Associate representing the UPB with WOOMB International.
                            </p>

                            <a class="button small fit">How an Instructor is trained, will Influence how she/he will teach the method</a>
                            <p>
                                Presentation
                            </p>
                            <ul>
                                <li>Friday, April 27th, 2018. 16:15</li>
                                <li>Conference Center</li>
                            </ul>
                            <hr />
                        </div>
                        <div class="12u 12u$(medium)">
                            <header>
                                <span class="image right"><img src="~/images/mariapiedadpuerta.jpg" alt="" style="border-radius: 50px;height:160px;width:160px;"></span>
                                <h4>M&aacute;ster Mar&iacute;a Piedad Puerta de Klinkert</h4>
                                <p>
                                    Master's degree in Pedagogy from the Virtualidad Fundación of the Universidad Católica del Norte.<br />
                                    Bachelor's degree in Sociology from the University of San Buenaventura in Medellín.<br />
                                    University Bachelor of family development the Universidad Católica Luis Amigo.<br />
                                    <strong>Coordinator of the of Family Planning and Responsible Parenthood Program in the Secretariat for the family of the Roman Catholic Archdiocese of Medellín</strong>
                                </p>
                            </header>
                            <!--<ul class="icons">
                                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                            </ul>-->
                            <p>
                                Research professor for the Universidad Pontificia Bolivariana in Medellín.<br /><br />
                                Professor Chair of the Universidad Católica Luis Amigó.<br /><br />
                                National and International Advisor on Natural regulation of fertility methods in the Secretariat for the family of the Roman Catholic Archdiocese of Medellín.
                            </p>
                            <header>
                                <span class="image right"><img src="~/images/fray_dimas.jpg" alt="" style="border-radius: 50px;height:160px;width:160px;"></span>
                                <h4>Fr. Dimas Maria Kline, CFR</h4>
                                <p>
                                    Priest, Member of the community of the Franciscans of the renewal.<br />
                                    Bachelor's degree in Sociology from the University of San Buenaventura in Medellín.<br />
                                    <strong>Representative of MOBIN (Nicaragua) to WOOMB</strong>
                                </p>
                            </header>
                            <!--<ul class="icons">
                                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                            </ul>-->
                            <p>
                                Native of Louisville, Kentucky, USA, entered the community of the Franciscans of the renewal on September 8, 2004.
                                After the first two years and a half of his initial training in New York, Fray Dimas was assigned to the convent San Serafin in Comayagua, Honduras. In Comayagua, worked three years in the "catechesis of the good Shepherd" with young children.<br /><br />
                                In 2010, he was reassigned to the San Antonio convent in Matagalpa, Nicaragua where he worked in the apostolate of the friars to the sick and the imprisoned, and where he also facilitated the introduction of a new chastity Ministry aimed for the youth, also known as Pure Heart (Corazón Puro). Two years later he returned to New York to begin his studies for the priesthood. He was ordained a priest on May 28, 2016, and the following month returned to Matagalpa to do his first assignment as a priest.
                                Upon arrival, he returned to his work with prisoners, sick, and young people, in addition to receiving the responsibility of starting a new apostolate in family planning for the diocese.<br /><br />
                                In January of 2017, he received the Basic training for instructors offered by WOOMB Latin America along with 20 lay Nicaraguans from the Diocese of Matagalpa. In February of the same year the newly-opened apostolate MOBiN (Billings Ovulation Method Billings&reg; of Nicaragua) received their approval for affiliation to WOOMB Int.
                            </p>
                            <header>
                                <span class="image right"><img src="~/images/mons_libardo.jpg" alt="" style="border-radius: 50px;height:160px;width:160px;"></span>
                                <h4>Monsignor.  Libardo Ramirez Gomez</h4>
                                <p>
                                    Bishop of Armenia, Colombia, 1972-1986<br />
                                    Bishop of Garzo,  Colombia, 1986-2003.<br />
                                    President, National Ecclesial Tribunal, Colombia, 2003-2016.<br />
                                    <strong>Spiritual Advisor, WOOMB Latinioamerica</strong>
                                </p>
                            </header>
                            <!--<ul class="icons">
                                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                            </ul>-->
                            <p>
                                As a priest in Garzon he founded the St. Vincent de Paul society, the Association of professionals of Garzon and 90 groups of Legion of Mary. He promoted a living Pastoral from the Second Vatican Council.<br /><br />
                                As Bishop of Armenia founded 12 new parishes, 26 priests ordered and carried out the construction of the Diocesan Major Seminary among other infrastructure projects.<br /><br />
                                In Garzon, as Bishop, he founded 20 new parishes and orders 59 priests. He initiated the Integral process of new evangelization and rooting in all parishes. He is involved in many projects for the wellbeing of the community.<br /><br />
                                In Bogota, he encouraged organizations to fight for the defense of life from conception to its natural end.<br /><br />
                                Publishes books from 1959 to 2012, in addition to weekly writings for the local newspapers.
                            </p>

                            <a class="button small fit">Round Table: Ethical Considerations in Light of The Humane Vitae Encyclical</a>
                            <p>
                                Presentation
                            </p>
                            <ul>
                                <li>Friday, April 27th, 2018. 17:15</li>
                                <li>Conference Center</li>
                            </ul>
                            <hr />
                        </div>
                        <div class="12u 12u$(medium)">
                            <header>
                                <span class="image right"><img src="~/images/grettelmendoza_2.jpg" alt="" style="border-radius: 50px;height:160px;width:160px;"></span>
                                <h4>Lic. Grettel Mendoza Rivera</h4>
                                <p>
                                    Graduated with a Masters in Socio-economic Project Planning from the National University of Costa Rica.<br />
                                    Bachelor's degree in Business Administration with an emphasis in human resources from the UNED.<br />
                                    Degree in Theology from the Universidad Nacional de Costa Rica.<br />
                                    <strong>Department of Natural Method and Sexuality Coordinator. President for WOOMB Costa Rica. Co-President for WOOMB Latinioamerica</strong>
                                </p>
                            </header>
                            <ul class="icons">
                                <li><a href="https://www.facebook.com/woombcostarica/" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                            </ul>
                            <p>
                                In charge of Family Planning in the Health field in Coronado.<br /><br />
                                Professor in the Technical Program of the RRHH in the INTECEL Instituto.<br /><br />
                                Certified Billings Ovulation Method&reg; Instructor and trainer.<br /><br />
                            </p>

                            <a class="button small fit">The Billings Ovulation Method&reg; in Costa Rica’s Health System.</a>
                            <p>
                                Presents
                            </p>
                            <ul>
                                <li>Friday, April 27th, 2018. 18:15</li>
                                <li>Conference Center</li>
                            </ul>
                            <hr />
                        </div>
                        <div class="12u 12u$(medium)">
                            <header>
                                <span class="image right"><img src="~/images/stephaniecordero.jpg" alt="" style="border-radius: 50px;height:160px;width:160px;"></span>
                                <h4>Dra. Stephanie Cordero</h4>
                                <p>
                                    Degree in nutrition, a graduate of the Universidad Hispanoamericana.<br />
                                    Active member of College of Professionals in Nutrition of Costa Rica.<br />
                                    Registered with the Costa Rican Association of Dieticians and Nutritionists.<br />
                                    <strong>Founder and Director of PRONUT, Nutritionals Advisor</strong>
                                </p>
                            </header>
                            <ul class="icons">
                                <li><a href="https://www.facebook.com/grettel.mendoza.5" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                            </ul>
                            <p>
                                She has worked in the food industry, as well as in projects of nutrition marketing of prepackaged products such as oats, cereals, biscuits, jam, milk, and nutritional supplements. He has worked in the food industry, as well as in projects of nutrition marketing of prepackaged products such as oats, cereals, biscuits, jam, milk, and nutritional supplements.<br /><br />
                                In 2013, she conducted a study on the characteristics of food considered as risk factors for prostate cancer; this work was published in the scientific journal of the Confederation of Latin American and the Caribbean of dieticians and nutritionists.<br /><br />
                            </p>

                            <a class="button small fit">Nutritional factors and fertility</a>
                            <p>
                                Presents
                            </p>
                            <ul>
                                <li>Saturday, April 28th, 2018. 09:00</li>
                                <li>Conference Center</li>
                            </ul>
                            <hr />
                        </div>
                        <div class="12u 12u$(medium)">
                            <header>
                                <span class="image right"><img src="~/images/DR_TANTALEAN.jpg" alt="" style="border-radius: 50px;height:160px;width:160px;"></span>
                                <h4>Dr. Mart&iacute;n Tantale&aacute;n</h4>
                                <p>
                                    Medical specialist in Integrated Medicine and Health Management.<br />
                                    <strong>Specialist in Natural family planning and natural help for conception in couples with unexplained Subfertility problems</strong>
                                </p>
                            </header>
                            <ul class="icons">
                                <li><a href="https://www.facebook.com/grettel.mendoza.5" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                            </ul>
                            <p>
                                Former member of the technical team of the growth and development of the Ministry of Health of Peru program.
                                Coordinator of community-based rehabilitation.<br /><br />
                                Secretary for the coordination of the National Board of Health and Adviser of the high direction of the Ministry of health of Peru.
                                Member of the National Association of Catholic doctors of Peru.<br /><br />
                                President of the Peruvian Society of Comprehensive Family Medicine and Health Management.
                                President of the Center for family promotion and Natural regulation of birth CEPROFARENA.<br /><br />
                                A public health specialist in the Superintendence of the entities providers of health of Peru.<br />
                            </p>

                            <a class="button small fit">Natural Family Planning Bioethical Considerations</a>
                            <p>
                                Presents
                            </p>
                            <ul>
                                <li>Saturday, April 28th, 2018. 11:00</li>
                                <li>Conference Center</li>
                            </ul>
                            <hr />
                        </div>
                        <div class="12u 12u$(medium)">
                            <header>
                                <span class="image right"><img src="~/images/pilarvigil_180.jpg" alt="" style="border-radius: 50px;"></span>
                                <h4>Dra. Pilar Vigil</h4>
                                <p>
                                    Gynecologist Obstetrician, Reproductive Physiology (PhD)<br />
                                    <strong>Medical FEMM training, Santiago, Chile</strong>
                                </p>
                            </header>
                            <!--<ul class="icons">
                                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                            </ul>-->
                            <p>
                                Professor Pilar Vigil studied medicine at the Pontificial Catholic University of Chile.<br /><br />
                                She specialized in obstetrics and did her postgraduate (PhD) in Biological Sciences (Physiology).<br /><br />
                                She had postgraduate training at the Institute for Reproductive Medicine of Texas, Houston, Texas, USA; and Royal Hospital for women, Melbourne, Australia.
                            </p>

                            <a class="button small fit">Treatment of Polycystic Ovary Syndrome</a>
                            <p>
                                Presentation
                            </p>
                            <ul>
                                <li>Saturday, April 28th, 2018. 13:45</li>
                                <li>Conference Center</li>
                            </ul>
                            <hr />
                        </div>
                        <div class="12u 12u$(medium)">
                            <header>
                                <span class="image right"><img src="~/images/kerrybourke_100.jpg" alt="" style="border-radius: 50px;"></span>
                                <h4>Kerry Bourke</h4>
                                <p>
                                    Senior Teacher of the Billings Ovulation Method&reg;<br />
                                    Graduate Diploma in Theology from the John Paul II Institute in Melbourne<br />
                                    <strong>Director of WOOMB International, Australia</strong>
                                </p>
                            </header>
                            <ul class="icons">
                                <li><a href="http://www.woombinternational.org/index.php/about-us/directors-of-woomb-international" class="icon fa-link" target="_blank"><span class="label">P&aacute;gina Web</span></a></li>
                            </ul>
                            <p>
                                Kerry expanded her interest in ethical and moral issues by completing a Graduate Diploma in Theology from the John Paul II Institute in Melbourne.
                                Her special interest recently has been the development of the Fertility Pinpoint charting app which is proving to be very popular both in Australia and overseas and is being further developed as an online teaching tool.
                            </p>

                            <p>
                                Will provide teacher trainings.
                            </p>
                            <hr />
                        </div>
                        <div class="12u 12u$(medium)">
                            <header>
                                <span class="image right"><img src="~/images/mariemarshell_100.jpg" alt="" style="border-radius: 50px;"></span>
                                <h4>Marie Marshell</h4>
                                <p>
                                    Senior Teacher of the Billings Ovulation Method&reg;<br />
                                    <strong>Director of WOOMB International, Australia</strong>
                                </p>
                            </header>
                            <ul class="icons">
                                <li><a href="http://www.woombinternational.org/index.php/about-us/directors-of-woomb-international" class="icon fa-link" target="_blank"><span class="label">P&aacute;gina Web</span></a></li>
                            </ul>
                            <p>
                                Marie Marshell  has a strong interest in the spread of authentic training and materials, developed through her experience working with the Drs Billings through a decade of trips to China as the lead Billings Ovulation Method&reg; trainer.
                                This led to an enriched and expanded teaching system and formed the basis for the curricula for training now used internationally. With Marian Corkill she has travelled extensively training and up skilling teachers throughout the world.<br /><br />
                                She is a member of the Education Committee and was the Study Leader for the Study on the Billings Ovulation Method&reg; and the Achievement of Pregnancy.
                            </p>

                            <p>
                                Will provide teacher trainings.
                            </p>
                            <hr />
                        </div>
                        <div class="12u 12u$(medium)">
                            <header>
                                <span class="image right"><img src="~/images/GillianBarker_100.jpg" alt="" style="border-radius: 50px;"></span>
                                <h4>Gillian Barker</h4>
                                <p>
                                    Senior Teacher of the Billings Ovulation Method&reg;<br />
                                    <strong>Director of WOOMB International, Australia</strong>
                                </p>
                            </header>
                            <ul class="icons">
                                <li><a href="http://www.woombinternational.org/index.php/about-us/directors-of-woomb-international" class="icon fa-link" target="_blank"><span class="label">P&aacute;gina Web</span></a></li>
                            </ul>
                            <p>
                                Gillian worked in the laboratory headed by Professor James Brown where the hormonal validation of the Billings Ovulation Method&reg; was completed.<br /><br />
                                She was involved in the development of the Ovarian Hormone Monitor and it was through this work that she became involved in the Billings Ovulation Method&reg; and subsequently trained as a teacher.<br /><br />
                                Gillian worked on developing the curricula for the advanced training for Billings Ovulation Method&reg;  teachers and is involved in the ongoing development of programs and PowerPoint presentations for training both teachers and medical professionals.<br /><br />
                                She has travelled to China, Pakistan and the USA to conduct teacher training programs and speak at Conferences.<br /><br />
                                Gillian currently works for the University of Melbourne at the Mercy Hospital for Women on research into Premature Labour and Gestational Diabetes Myelitis.
                            </p>

                            <p>
                                Will provide teacher trainings.
                            </p>
                            <hr />
                        </div>
                    </div>
            </section>

        </div>
    </section>
</article>

@section scripts {
    <script src="~/Content/secondaryjs.js"></script>
}