
@{
    ViewBag.Title = "Sponsors Information";
    ViewBag.Description = "WOOMB International Conference. Costa Rica, 2018. Sponsorship Packages. Be our sponsor. Conferencia Internacional WOOMB, Metodo de Ovulacion Billings.";
}

@section styles {
    <style>
        p {
            margin: 0 0 2em 0;
            text-align: justify;
            text-justify: inter-word;
        }
    </style>
}

<!-- Main -->
<article id="main">
    <header>
        <h2>Want to be sponsor of the Conference?</h2>
        <p style="text-align:center;">Below the details of the sponsorship packages</p>
    </header>
    <section class="wrapper style5">
        <div class="inner">

            <section>
                <h4>Description of the event</h4>
                <p>The Billings Ovulation Method&reg; International Conference consists of a series of medical and scientific presentations related to recent studies on the use of the Method in comprehensive health. Attendees at these conferences are people from countries affiliated to the World Organization of the Billings Ovulation Method (WOOMB for its acronym in English) &reg;.   After the conference, a series of Teacher Training programs on the Billings Ovulation Method &reg; will be offered. These trainings will be held from April 29 to May 2 at Casa María Inés Teresa Arias in San Rafael de Moravia.</p>
                <hr />
                <h4>General information</h4>
                <p>
                    Conference dates: April 27-28, 2018<br /><br />
                    Training dates: April 29 to May 2, 2018<br /><br />
                    Number of participants expected: 250-350 people. Usually all the participants from foreign countries come a few days before the event and will stay for few days later.<br /><br />
                    Member countries: 41<br /><br />
                    Argentina, Australia, Brazil, Canada, Chile, Colombia, Costa Rica, Croatia, Cuba, Ecuador, Egypt, England, Ethiopia, France, Hong Kong, Hungary, Indonesia, Ireland, Italy, Kenya, Malaysia, Mexico, New Zealand, Nicaragua, Pakistan, Peru, Philippines, polynya. Romania, Scotland, Singapore, Slovakia, Spain, Tanzania, Trinidad and Tobago, Uruguay, USA, Venezuela, Viet Nam, and Timor Leste.
                </p>
                <hr />

                <h4>Individual costs</h4>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Advertising</th>
                                <th>Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Conference Center stands. Spaces of 2m x 1m.</td>
                                <td>1500 USD</td>
                            </tr>
                            <tr>
                                <td>Stands in places where training programs are held:  Lobby - total spaces: 2 of 2x1.</td>
                                <td>750 USD</td>
                            </tr>
                            <tr>
                                <td>Folders for participants</td>
                                <td>800 USD</td>
                            </tr>
                            <tr>
                                <td>Official Conference Website, social networks, emails</td>
                                <td>300 USD</td>
                            </tr>
                            <tr>
                                <td>Radio spots and mentions in Catholic radio stations</td>
                                <td>500 USD</td>
                            </tr>
                            <tr>
                                <td>Brochures or informational flyers</td>
                                <td>150 USD</td>
                            </tr>
                            <tr>
                                <td>Placing Banners in the food and eating areas</td>
                                <td>50 USD</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <!--<tr>
                                <td colspan="2"></td>
                                <td>100.00</td>
                            </tr>-->
                        </tfoot>
                    </table>

                    <h4>Sponsorship Packages</h4>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ORO (GOLD)</th>
                                    <th>PLATA (SILVER)</th>
                                    <th>BRONCE (BROZE)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Packages available</td>
                                    <td>4</td>
                                    <td>2</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>It Includes</td>
                                    <td>
                                        <li>1 Stand 2x1 in the Conference Lobby area</li>
                                        <li>Logo in main folders for participants</li>
                                        <li>Logo on website, emails and facebook</li>
                                        <li>Distribution of brochures and inserts in folders or to placed in buses **</li>
                                        <li>Information and radio mentions on Catholic radio stations</li>
                                    </td>
                                    <td>
                                        <li>1 Stand 2x1 in training centers</li>
                                        <li>Logo on website, emails and facebook</li>
                                        <li>Information and radio mentions on Catholic radio stations</li>
                                        <li>Distribution of brochures and inserts in folders or placed on buses **</li>
                                    </td>
                                    <td>
                                        <li>Logo on website, emails and facebook</li>
                                        <li>Delivery of brochures and inserts in folders or place on buses **</li>
                                        <li>Place Banners placed in the food and eating areas****</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Real advertising cost</td>
                                    <td>3250 USD</td>
                                    <td>1450 USD</td>
                                    <td>500 USD</td>
                                </tr>
                                <tr>
                                    <td><strong>Cost of the package</strong></td>
                                    <td><strong>2000 USD</strong></td>
                                    <td><strong>1000 USD</strong></td>
                                    <td><strong>400 USD</strong></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="3">** Flyer distribution will be handled by the company’s personnel. All the costs involved in producing them will also be the company’s responsibility.</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="3">**** The banners will be provided by the interested company, to be placed in the food and eating areas.</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <!--<tr>
                                    <td colspan="2"></td>
                                    <td>100.00</td>
                                </tr>-->
                            </tfoot>
                        </table>

                    </div>

            </section>



        </div>
    </section>
</article>
@section scripts {
    <script src="~/Content/secondaryjs.js"></script>
}