
@{
    ViewBag.Title = "Información para patrocinadores";
}

@section styles {
    <style>
        p {
            margin: 0 0 2em 0;
            text-align: justify;
            text-justify: inter-word;
        }
    </style>
}

<!-- Main -->
<article id="main">
    <header>
        <h2>¿Quieres ser patrocinador del evento?</h2>
        <p style="text-align:center;">A continuación los detalles sobre paquetes de patrocinios</p>
    </header>
    <section class="wrapper style5">
        <div class="inner">

            <section>
                <h4>Descripción del Evento</h4>
                <p>La conferencia mundial consiste en una serie de ponencias m&eacute;dicas atenientes a estudios recientes sobre la utilizaci&oacute;n del M&eacute;todo de la Ovulaci&oacute;n Billings&reg; en la salud integral. Los asistentes a estas conferencias son personas de paises afiliados a la Organizacion Mundial del M&eacute;todo de la Ovulaci&oacute;n Billings&reg; (WOOMB por sus siglas en ingl&eacute;s). Posterior al congreso se ofrece una serie de entrenamientos para instructores del m&eacute;todo. Dichos entrenamientos se realizar&aacute;n del 29 de abril al 02 de mayo en la Casa Mar&iacute;a Ines Teresa Arias en San Rafael de Moravia.</p>
                <hr />
                <h4>Generalidades</h4>
                <p>
                    Fechas Conferencia: 27 y 28 de abril de 2018<br /><br />
                    Fechas Entrenamientos: 29 de abril al 2 de Mayo de 2018<br /><br />
                    Cantidad de Asistentes: 250-350 personas. Generalmente los extrangeros ingresan al país días antes del evento y permanecen días después.<br /><br />
                    Pa&iacute;ses miembros: 41<br /><br />
                    Argentina, Australia, Brasil, Canadá, Chile, Colombia,Costa Rica, Croacia, Cuba, Ecuador, Egipto, Inglaterra, Etiopía, Francia, Hong Kong, Hungria, Indonesia, Irlanda, Italia, Kenia, Malasya, Mexico, Nueva Zelanda, Nicaragua, Pakistan, Peru, Filipinas, Polinia. Rumania, Escocia, Singapure, Eslovaquia, España, Tanzania, Trinidad y Tobago, Uruguay, EEUU, Venezuela, Vietnam, Timor Leste.
                </p>
                <hr />

                <h4>Costos Individuales</h4>
                <div class="table-wrapper">
                    <table class="alt">
                        <thead>
                            <tr>
                                <th>Publicidad en</th>
                                <th>Costo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Stands en centro de conferencias. Espacios de 2m x 1m.</td>
                                <td>1500 USD</td>
                            </tr>
                            <tr>
                                <td>Stands en  lugares de entranamiento:  Lobby Total de espacios: 2 de 2x1.</td>
                                <td>750 USD</td>
                            </tr>
                            <tr>
                                <td>Carpeta por participante</td>
                                <td>800 USD</td>
                            </tr>
                            <tr>
                                <td>Página Web Oficial, Redes Sociales, Correos Electrónicos</td>
                                <td>300 USD</td>
                            </tr>
                            <tr>
                                <td>Cuñas radiales y menciones en rarioemisoras católicas</td>
                                <td>500 USD</td>
                            </tr>
                            <tr>
                                <td>Brochure o volantes informativos</td>
                                <td>150 USD</td>
                            </tr>
                            <tr>
                                <td>Colocar Banners en el área de comidas</td>
                                <td>50 USD</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <!--<tr>
                                <td colspan="2"></td>
                                <td>100.00</td>
                            </tr>-->
                        </tfoot>
                    </table>

                    <h4>Paquetes disponibles</h4>
                    <div class="table-wrapper">
                        <table class="alt">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>ORO</th>
                                    <th>PLATA</th>
                                    <th>BRONCE</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Paquetes disponibles</td>
                                    <td>4</td>
                                    <td>2</td>
                                    <td>6</td>
                                </tr>
                                <tr>
                                    <td>Incluye.</td>
                                    <td>
                                        <li>1 Stand 2x1 en Lobby sitio Conferencia</li>
                                        <li>Logo en carpetas principales</li>
                                        <li>Logo en sitio web, correos y facebook</li>
                                        <li>Entrega de brochures e insertos en carpetas o colocar en buses **</li>
                                        <li>Cuñas y menciones radiales en emisoras católicas</li>
                                    </td>
                                    <td>
                                        <li>1 Stand 2x1 en centro de entrenamientos</li>
                                        <li>Logo en sitio web, correos y facebook</li>
                                        <li>Cuñas y menciones radiales en emisoras católicas</li>
                                        <li>Entrega de brochures e insertos en carpetas o colocar en buses **</li>
                                    </td>
                                    <td>
                                        <li>Logo en sitio web, correos y facebook</li>
                                        <li>Entrega de brochures e insertos en carpetas o colocar en buses **</li>
                                        <li>Colocar Banners en el área de comidas****</li>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Costo Publicitario real</td>
                                    <td>3250 USD</td>
                                    <td>1450 USD</td>
                                    <td>500 USD</td>
                                </tr>
                                <tr>
                                    <td><strong>Costo del paquete</strong></td>
                                    <td><strong>2000 USD</strong></td>
                                    <td><strong>1000 USD</strong></td>
                                    <td><strong>400 USD</strong></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="3">** La entrega de bolantes se realiza por parte del personal de la empresa . El costo y confección de los mismos corre por parte de la empresa</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="3">**** Los banner los debe aportar la empresa a fin de que sean colocados en el area de comidas</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <!--<tr>
                                    <td colspan="2"></td>
                                    <td>100.00</td>
                                </tr>-->
                            </tfoot>
                        </table>

                    </div>

            </section>



        </div>
    </section>
</article>
@section scripts {
    <script src="~/Content/secondaryjs.js"></script>
}